.container {
	display: grid;
	position: absolute;
	width:500px;
	height:400px;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%); 
	grid-template-rows: 2fr 10fr; 
}

.questions {
	display: flex;
	justify-content: start;
	align-items: left;
	background: #331a57;
	padding-left: 5px; 
	flex-direction: column;
	grid-gap: 5px;
}

header {
	background: gray;
	padding: 15px;
	color:#e8e8e8;
	display: grid;
	grid-template-columns: 10fr 1fr;
	font-weight:bold;
background: rgb(51,26,87);
background: linear-gradient(0deg, rgba(51,26,87,1) 0%, rgba(16,15,17,1) 54%);
}

.question {
	display: flex;
	background: #100f11;
	opacity: 0.7;
	border-radius: 0 3% 3% 3%;
	height: 50px;
	width: 450px;
	font-weight: bold;
	align-items: center;
	padding-left: 10px;
	color: #e8e8e8;
-webkit-box-shadow: 4px 5px 5px -5px rgba(245, 245, 245, 0.6);
-moz-box-shadow: 4px 5px 5px -5px rgba(245, 245, 245, 0.6);
box-shadow: 4px 5px 5px -5px rgba(245, 245, 245, 0.6);
	margin-top: 10px;
}

* {
	font-family: "Roboto", sans-serif;
}